<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCOq-HG8hLZ5zZaAzW5nQszonXt_9amxkQ</string>
	<key>GCM_SENDER_ID</key>
	<string>891382935248</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>FitnessApp-TrojanFit</string>
	<key>PROJECT_ID</key>
	<string>trojanfitness-60dea</string>
	<key>STORAGE_BUCKET</key>
	<string>trojanfitness-60dea.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:891382935248:ios:3d43695b6da88760a1f8d5</string>
</dict>
</plist>